@charset "UTF-8";

/*Typical Device Breakpoits
------------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
-------------------------------
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(122, 122, 122);
    height: 100vh;
    width: 100vh;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
} 

div#formulario > p#seja{
    font-size: 19px;
}

div > h1{
    text-align: center;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    border-radius: 15px;
    width: 250px;
    height: 520px;
}

p.campo > label > span{
    color: white;
    background-color: black;
    font-size: 2.5em;
    border-radius: 5px;
}

p.campo > input{
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    transform: translateY(-15px);
    border: 0px;
    border-radius: 5px;
    padding: 4px;
}

section#login > div#imagem{
    display: block;
    background: url('../imagens/pexels-akbph-17374039.jpg') no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 230px; 
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

p > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

p > input[type=submit]:hover{
    background-color: #1f6e6c;
}



form > p.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

